@model IEnumerable<AirsoftApp.Models.EscuadronViewModel>

@{
    ViewBag.Title = "Mis Escuadrones";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            <p>Avatar</p>
        </th>
        <th>
            <p>Codigo Escuadron</p>
        </th>
        <th>
            <p>Nombre Escuadron</p>
        </th>
        <th>
            <p>¿Requiere Vacantes?</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div id="imagePreview"><img width="50" src="@Url.Action("convertirImagen","Escuadron",new { CodEscuadron = item.CodEscuadron})" /></div>
            <td>
                @Html.DisplayFor(modelItem => item.CodEscuadron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEscuadron)
            </td>
            <td>
                @if (item.EstEscuadron == true)
                {
                    <p>Si </p>
                }
                else
                { <p>No</p>}
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEscuadron", "Escuadron", new { idEscuadron = item.IdEscuadron }, new { @class = "btn btn-primary" })
                <a class="btn btn-danger" href="~/Escuadron/EliminarEscuadron/@item.IdEscuadron">Eliminar</a>
            </td>
        </tr>
    }

</table>

<h1>Escuadrones a los que pertenezco</h1>

<table class="table">
    <tr>
        <th>
            <p>Avatar</p>
        </th>
        <th>
            <p>Nombre Escuadron</p>
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in ViewBag.Pertenencia)
    {
        <tr>
            <td>
                <div id="imagePreview"><img width="50" src="@Url.Action("convertirImagen","Escuadron",new { CodEscuadron = item.CodEscuadron})" /></div>
            <td>
               @item.NomEscuadron
            </td>
        </tr>
    }

</table>

<a class="btn btn-primary" href="~/Escuadron/NuevoEscuadron">Nuevo</a>