@model IEnumerable<AirsoftApp.Models.EscuadronViewModel>

@{
    ViewBag.Title = "Mis Escuadrones";
}

<div class="tablas">
    <h2>@ViewBag.Title</h2>

    <table class="table">
        <tr>
            <th>
                <p>Avatar</p>
            </th>
            <th>
                <p>Codigo Escuadron</p>
            </th>
            <th>
                <p>Nombre Escuadron</p>
            </th>
            <th>
                <p>¿Requiere Vacantes?</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item1 in Model)
        {
            <tr>
                <td>
                    <div id="imagePreview"><img width="50" src="@Url.Action("convertirImagen","Escuadron",new { CodEscuadron = item1.CodEscuadron})" /></div>
                <td>
                    @Html.DisplayFor(modelItem => item1.CodEscuadron)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item1.NomEscuadron)
                </td>
                <td>
                    @if (item1.EstEscuadron == true)
                    {
                        <p>Si </p>
                    }
                    else
                    { <p>No</p>}
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarEscuadron", "Escuadron", new { idEscuadron = item1.IdEscuadron }, new { @class = "btn btn-primary" })
                    <a class="btn btn-danger" href="~/Escuadron/EliminarEscuadron/@item1.IdEscuadron">Eliminar</a>
                </td>
            </tr>
        }

    </table>
    <br />

    <a class="btn btn-primary" href="~/Escuadron/NuevoEscuadron">Nuevo</a>

    <h1>Escuadrones a los que pertenezco</h1>

    <table class="table">
        <tr>
            <th>
                <p>Avatar</p>
            </th>
            <th>
                <p>Nombre Escuadron</p>
            </th>
            <th>
                <p>Abandonar</p>
            </th>
            <th></th>
        </tr>


        @foreach (var item in ViewBag.Pertenencia)
        {
            <tr>
                <td>
                    <div id="imagePreview"><img width="50" src="@Url.Action("convertirImagen","Escuadron",new { CodEscuadron = item.CodEscuadron})" /></div>
                </td>
                <td>
                    @item.NomEscuadron
                </td>
                <td>

                    <a class="btn btn-info" data-toggle="modal" data-target="#modal_detalle_nick" onclick="detalle_nick(@item.CodEscuadron)">Ver</a>

                    @Html.ActionLink("Retirarse", "RetiraEscuadron", "Home", new { escuadron = item.NomEscuadron }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>

    <h1>Solicitudes a mis escuadrones</h1>

    <table class="table">
        <tr>
            <th>
                <p>RUN</p>
            </th>
            <th>
                <p>Nombre</p>
            </th>
            <th>
                <p>Escuadron</p>
            </th>
            <th>
                <p>Responder</p>
            </th>
            <th></th>
        </tr>


        @foreach (var item in ViewBag.Solicitud)
        {
            <tr>
                <td>
                    @item.Run
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Escuadron
                </td>
                <td>
                    @Html.ActionLink("Aceptar", "UnirEscuadron", "Home", new { IdIngreso = item.IdIngreso }, new { @class = "btn btn-primary" }) | <a class="btn btn-danger" href="~/Escuadron/NuevoEscuadron">Rechazar</a>
                </td>
            </tr>
        }

    </table>
</div>


@Html.Partial("_Modal_integrantes")