@model AirsoftApp.Models.PersonaViewModel

@{
    ViewBag.Title = "Datos personales";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("NuevaPersonaGuardar", "Persona", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
<div class="row">

    <div id="imagePreview"></div>
    <br />
    <input type="file" id="imagen" name="imgPerfil" accept=".jpg " class="form-control" />
    <br />

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">

            @Html.LabelFor(d => d.Run) @Html.TextBoxFor(d => d.Run, "", new { @class = "form-control" }) @Html.ValidationMessageFor(d => d.Run, "", new { @class = "text-danger" })<br />@Html.LabelFor(d => d.Dv) @Html.TextBoxFor(d => d.Dv, "", new { @class = "form-control" }) @Html.ValidationMessageFor(d => d.Dv, "", new { @class = "text-danger" })<br />

        </div>
    </div>

    @Html.LabelFor(d => d.Nombre)
    @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Nombre, "", new { @class = "text-danger" })<br />

    @Html.LabelFor(d => d.Apellido_Paterno)
    @Html.TextBoxFor(d => d.Apellido_Paterno, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Apellido_Paterno, "", new { @class = "text-danger" })<br />

    @Html.LabelFor(d => d.Apellido_Materno)
    @Html.TextBoxFor(d => d.Apellido_Materno, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Apellido_Materno, "", new { @class = "text-danger" })<br />

    @Html.LabelFor(d => d.Nick)
    @Html.TextBoxFor(d => d.Nick, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Nick, null, new { @class = "label label-danger" })

    <br />


    <fieldset class="container">
        <legend>Posiciones</legend>
        <table>
            @for (int i = 0; i < Model.ListPosPer.Count; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(Model => Model.ListPosPer[i].IsChecked)
                        <label>@Model.ListPosPer[i].DESCPOSICION</label>

                        @Html.HiddenFor(model => model.ListPosPer[i].IDPOSICION)
                        @Html.HiddenFor(model => model.ListPosPer[i].DESCPOSICION)
                    </td>
                </tr>
            }
        </table>

    </fieldset>
    <br />

    @Html.LabelFor(d => d.Telefono)
    @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "label label-danger" })

    @Html.LabelFor(d => d.Correo)
    @Html.TextBoxFor(d => d.Correo, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.Correo, null, new { @class = "label label-danger" })


    @Html.LabelFor(d => d.IdRegion)
    @Html.DropDownList("idRegion", ViewData["Regioneslst"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "regiones", value = "null", onchange = "cargarComuna(this.value)" })
    @Html.ValidationMessageFor(d => d.IdRegion, null, new { @class = "label label-danger" })

    @Html.LabelFor(d => d.IdComuna)
    <select id="comuna" name="idComuna" class="form-control">
        <option value="null">--Seleccione--</option>
    </select>
    @Html.ValidationMessageFor(d => d.IdComuna, null, new { @class = "label label-danger" })
    <br />
    <input value="Nuevo" class="btn btn-primary" type="submit" />



</div>}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">

</script>

<script>

    function cargarComuna(idregion)
    {
        cboComuna = document.getElementById("comuna");
        cboComuna.innerHTML = "";
        var optComuna = document.createElement("option");
        optComuna.innerHTML = "--Seleccione--";
        optComuna.value = null;
        cboComuna.appendChild(optComuna);
        $(cboComuna).trigger('change');
        if (idregion != "") {
            fetch("@Url.Content("~/Persona/Comuna")" + "?idRegion=" + idregion)
                .then(function (result) {
                    if (result.ok) {
                        return result.json();
                    }
                })
                .then(function (data) {

                    data.forEach(function (element) {

                        var opt = document.createElement("option");
                        opt.innerHTML = element.Text;
                        opt.value = element.Value;

                        cboComuna.appendChild(opt);
                    })
                })
        }
    }

</script>

<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagePreview').html("<img width='200' src='" + e.target.result + "'>");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#imagen').change(function () {
            filePreview(this);
        });
    })();

</script>

