
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlackHorse CHILE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="~/images/favicon.png" />

    <script src="https://code.jquery.com/jquery-latest.js"></script>

</head>
<body >
    <header class="page-header">
        <div class="navbar navbar-inverse navbar-fixed-top superior">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <img src="~/Images/logo.png" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("UNREGISTERED"))
                        {
                            @Html.ActionLink("BLACKHORSE CHILE", "Inicio", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        }
                        else
                        {
                            @Html.ActionLink("BLACKHORSE CHILE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("BLACKHORSE CHILE", "Inicio", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("UNREGISTERED"))
                            {
                                <li>@Html.ActionLink("Mis Datos", "IndexPersona", "Persona")</li>
                            }
                            else
                            {
                                if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
                                {
                                    <li>@Html.ActionLink("Mis Datos", "IndexPersona", "Persona")</li>
                                    <li>@Html.ActionLink("Escuadron", "IndexEscuadron", "Escuadron")</li>
                                    <li>@Html.ActionLink("Juegos", "IndexJuego", "Juego")</li>
                                    <li>@Html.ActionLink("Asistencia", "IndexAsistencia", "Asistencia")</li>
                                }
                                if (User.IsInRole("ADMIN"))
                                {
                                    <li>@Html.ActionLink("Admin", "IndexAdministrar", "Administrar")</li>
                                }

                            }
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>

        <div class="container">
            @RenderBody()
        </div>

        <footer class="footer navbar navbar-default navbar-fixed-bottom"><p>&copy; @DateTime.Now.Year - BLACKHORSE</p> </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <div class="opacidad"></div>

</body>
</html>
