@model AirsoftApp.Models.JuegoViewModel
@{
    ViewBag.Title = "Nuevo Juego (*) Los datos son obligatorios";
}
<div class="ventana">
    <h2>@ViewBag.Title</h2>
    <span>-La fecha del jeugo no puede ser menor a 2 días al actual  </span><br /><br />


    @using (Html.BeginForm("NuevoJuego", "Juego", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div>
            @Html.HiddenFor(a => a.IdPersonaJuego)
            @Html.HiddenFor(a => a.CodJuego)


            @Html.LabelFor(d => d.AvatarJuego)
            <div class="alineador"><div class="perfil" id="imagePreview"></div></div>
            <br />
            <input type="file" id="imagen" name="Avatar" accept=".jpg " class="form-control" /><br />
            @Html.ValidationMessageFor(d => d.AvatarJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.CodJuego)
            @Html.DisplayFor(d => d.CodJuego, "", new { @class = "form-control" })
            <br />
            <br />

            @Html.LabelFor(d => d.NomJuego)
            @Html.TextBoxFor(d => d.NomJuego, "", new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(d => d.NomJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.DescJuego)
            @Html.TextAreaFor(d => d.DescJuego, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(d => d.DescJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.FechJuego)
            <br />
            @Html.TextBoxFor(d => d.FechJuego, "{0:yyyy-MM-dd}", new { @class = "form-control fecha", type = "date" })<br />
            @Html.ValidationMessageFor(d => d.FechJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.IdEscuadronJuego)
            @Html.DropDownList("IdEscuadronJuego", ViewData["EscuadronesList"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "Escuadrones", value = "null" })<br />
            @Html.ValidationMessageFor(d => d.IdEscuadronJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.IdTipoPartida)
            @Html.DropDownList("IdTipoPartida", ViewData["TipoPartidaList"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "TipoPartida", value = "null" })<br />
            @Html.ValidationMessageFor(d => d.IdTipoPartida, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.IdTipoJuego)
            @Html.DropDownList("IdTipoJuego", ViewData["TipoJuegoList"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "TipoJuego", value = "null" })<br />
            @Html.ValidationMessageFor(d => d.IdTipoJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.IdModoJuego)
            @Html.DropDownList("IdModoJuego", ViewData["ModoJuegoList"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "ModoJuego", value = "null" })<br />
            @Html.ValidationMessageFor(d => d.IdModoJuego, "", new { @class = "label label-danger" })<br />

            @Html.LabelFor(d => d.Region)
            @Html.DropDownList("idRegion", ViewData["Regioneslst"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "regiones", value = "null", onchange = "cargarComuna(this.value)" })<br />
            @Html.ValidationMessageFor(d => d.Region, "", new { @class = "label label-danger" })<br />



            @Html.LabelFor(d => d.IdComuna)
            @Html.DropDownList("idComuna", ViewData["Regioneslst"] as SelectList, "--Seleccione--", new { @class = "form-control", ID = "comuna", value = "null", name = "idComuna" })<br />
            @Html.ValidationMessageFor(d => d.IdComuna, null, new { @class = "label label-danger" })<br />
            <br />
            <input value="Nuevo" class="btn btn-primary" type="submit" /> | <a href="~/Juego/IndexJuego" class="btn btn-primary" >volver</a>


        </div>}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">

</script>

<script>

    function cargarComuna(idregion)
    {
        cboComuna = document.getElementById("comuna");
        cboComuna.innerHTML = "";
        var optComuna = document.createElement("option");
        optComuna.innerHTML = "--Seleccione--";
        optComuna.value = null;
        cboComuna.appendChild(optComuna);
        $(cboComuna).trigger('change');
        if (idregion != "") {
            fetch("@Url.Content("~/Persona/Comuna")" + "?idRegion=" + idregion)
                .then(function (result) {
                    if (result.ok) {
                        return result.json();
                    }
                })
                .then(function (data) {

                    data.forEach(function (element) {

                        var opt = document.createElement("option");
                        opt.innerHTML = element.Text;
                        opt.value = element.Value;

                        cboComuna.appendChild(opt);
                    })
                })
        }
    }

</script>

<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagePreview').html("<img width='200' src='" + e.target.result + "'>");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#imagen').change(function () {
            filePreview(this);
        });
    })();

</script>

