@model AirsoftApp.Models.JuegoViewModel

@{
    ViewBag.Title = "juego";
}
<div class="ventana">
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.LabelFor(model => model.NomJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomJuego)
            </dd>

            <dt>
                @Html.LabelFor(model => model.DescJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescJuego)
            </dd>

            <dt>
                @Html.LabelFor(model => model.FechJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechJuego)
            </dd>

        </dl>
    </div>
    @using (Html.BeginForm("IniciarJuego", "Asistencia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div>
            <h3>Debe ingresar el codigo del creador para comenzar el juego</h3>
            @Html.TextBoxFor(d => d.CodJuego, "", new { @class = "form-control" })
            @Html.HiddenFor(d => d.IdJuego)<br />

            <input value="Iniciar" class="btn btn-primary" type="submit" />



        </div>
    }
</div>