@model AirsoftApp.Models.ModeloSql.TB_ESCUADRON

@{
    ViewBag.Title = "Ver Escuadron";
}

<div class="container-fluid">
    <div class="tablas" >
        <h2>@ViewBag.Title</h2>


        <br />
        <dl class="dl-horizontal">

            <dt>
                Avatar:
            </dt>

            <dd>
                <div id="imagePreview"><img width="50" src="@Url.Action("ConvertirImagen","Escuadron",new { CodEscuadron = Model.CODESCUADRON})" /></div>
            </dd>

            <dt>
                Nombre escuadron:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMESCUADRON)
            </dd>

            <dt>
                <br />

                Integrantes:
            </dt>

            <dd>
                <br />
                @foreach (var item1 in ViewBag.lista)
                {

                    @item1.Nick
                    <br />

                }
            </dd>

        </dl>


        @Html.ActionLink("Unirme", "SolicitudEscuadron", "Home", new { idEscuadron = Model.IDESCUADRON }, new { @class = "btn btn-primary" })
    </div>
    
    
</div>