@model AirsoftApp.Models.ModeloSql.TB_ESCUADRON


<div class="ventana">
    <h1>@Html.DisplayFor(model => model.NOMESCUADRON)</h1>
    <div class="visualiza">
        
        <br />
        <br />
        <div>
            <label>AVATAR</label>
            <br />
            <div id="imagePreview"><img width="300" src="@Url.Action("ConvertirImagen","Escuadron",new { CodEscuadron = Model.CODESCUADRON})" /></div>
            <br />
        </div>
        <div>

            <br />
            <label>INTEGRANTES:</label>
            <br />
            @foreach (var item1 in ViewBag.lista)
            {

                <label>-</label>@item1.Nick
                <br />
            }
        </div>

    </div>
</div>

@Html.ActionLink("Solicitud", "SolicitudEscuadron", "Home", new { idEscuadron = Model.IDESCUADRON }, new { @class = "btn btn-primary" })

@Html.Partial("_Modal_integrantes")