@model AirsoftApp.Models.JuegoViewModel

@{
    ViewBag.Title = "Ver Juego";
}
<div class="ventana">
    <h2>VerJuego</h2>
    <hr />
    <div id="Capture" class="captura">
        <br />
        <dl class="dl-horizontal">

            <dt>
                @Html.LabelFor(model => model.IdJuego)
            </dt>

            <dd id="idjuego">
                @Html.DisplayFor(model => model.IdJuego)

            </dd>
            <dt>
                @Html.LabelFor(model => model.NomJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomJuego)
            </dd>

            <dt>
                @Html.LabelFor(model => model.FechJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechJuego)
            </dd>

            <dt>
                @Html.LabelFor(model => model.DescJuego)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescJuego)
            </dd>
        </dl>
        <br />
    </div>

    <h2>Escoja un escuadron</h2>
    @Html.DropDownList("IdEscuadronesJuego", ViewData["IdEscuadronesJuego"] as SelectList, "--Seleccione--", new { @class = "form-control", id = "idescuadron", value = "null" })<br />
    <input id="enviar" type="button" class="btn btn-primary" onclick="asistir();" value="Asistir">
    <button id="Guardar" class="btn btn-primary">Descargar</button>

</div>

@Html.Partial("_Modal_satisfactorio")
@Html.Partial("_Modal_error")


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/html2canvas.min.js"></script>
<script type="text/javascript" src="~/Scripts/canvas2image.js"></script>
<script type="text/javascript" src="~/Scripts/dom-to-image.min.js"></script>


<script>

    $("#Guardar").click(function () {

        domtoimage.toJpeg(document.getElementById('Capture'), { quality: 1.0 })
            .then(function (dataUrl) {
                var link = document.createElement('a');
                link.download = 'captura.jpeg';
                link.href = dataUrl;
                link.click();
            });
    });

</script>

<script>

    function asistir()
    {

        let idjuego = $("#idjuego").text()
        let idescuadron = $("#idescuadron").val()
        
        if (idescuadron != 0)
        {
            fetch("@Url.Content("~/Asistencia/AceptarJuego")" + "?IdJuego=" + idjuego + "&IdEscuadron=" + idescuadron)
                .then(function (response)
                {
                    if (response.ok) {

                        $('#Exito').modal();
                    }
                    else
                    {
                        $('#Error').modal();
                    }
                });
        }
        else
        {
            alert("Debe seleecionar un escuadron");
        }
    }
</script>

}

