@model AirsoftApp.Models.ModeloSql.TB_JUEGO

@{
    ViewBag.Title = "Ver Juego";
}

<h2>VerJuego</h2>


<div id="capture">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPERSONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDESCUADRON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDESCUADRON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTIPOJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTIPOJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMODOJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMODOJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCOMUNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCOMUNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTIPOPARTIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTIPOPARTIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTJUEGO)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Asistir", "AceptarJuego", "Asistencia", new {IdEscuadron = Model.IDPERSONA, IdJuego =Model.IDJUEGO }, new { @class = "btn btn-primary" }) |
    <button id="Guardar" type="button">Descargar</button>
</p>
<div id="capture" style="padding: 10px; background: #f5da55">
    <h4 style="color: #000; ">Hello world!</h4>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript"src="~/Scripts/html2canvas.min.js"></script>

<script>
    html2canvas(document.querySelector("#capture")).then(canvas => {
        document.body.appendChild(canvas)
    });
</script>